h1 {
    font-family:times new roman;
    font-size:30px;
    font-style:italic;
    font-weight:bold;
  }

#div2{ /* Esto significa que el ID div2 cuando lo llame tengra este formato de abajo*/ 
	background-color: rgb(200,200,200);
    width: 50%;
    height: 50%;
    float: right;
}

#div3{
	background-color: rgb(219, 150, 150);
	width: 50%;
}

.grande{ /* Para el atributo class que tenga este valor llamado .grande| EJEMPLO: class="grande" */ 
	font-size:130px;
}

#fondo{
	background-color: #01f8a6;
    position: fixed;
	bottom: 0px;
    width: 100%;
	text-align: center;
}

#test{
    background-color: #f801d7;
    text-align: center;
    float: left;
    width: 25%;
}
